@use "sass:math";

// Variables should follow the `$component-state-property-size` formula for consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
// COLORS
// [gray-color-variables]
// [gray-colors-map]
$black: $carbo;
$blue: $coeruleum;
$indigo: $indicum;
$purple: $purpura;
$pink: $roseus;
$red: $rubrum;
$orange: $luteus;
$yellow: $flavum;
$green: $viridis;
$teal: $teal;
$cyan: $cyaneum;
$white: $albus;
$light: $lux;
$dark: $nox;
$color-contrast-dark: $lux;
$color-contrast-light: $nox;
$primary: $primus;
$secondary: $secundus;
$success: $progresio;
$info: $indicium;
$warning: $praemonitus;
$danger: $erratus;
$light: $lux;
$dark: $nox;
// [CONTRAST RATIO]
// hue tints & shades
// hue maps
// theme-color
// theme-colors
// theme-text
// text-emphasis
// theme-bg-subtle
// theme-border-subtle
// [options]
// [gradient]
// CORPUS: Spacing, Position, Body, Links, Icon links, & Paragraphs
// SPACING
$spacer: $spatio;
$grid-gutter-width: $spatio * 2;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.618,
  5: $spacer * 2.62,
  6: $spacer * 4.24,
);
// [POSITION]
// BODY
$body-color: $scriptum;
$body-bg: $scaena;
// $body-secondary-color:      rgba($body-color, .75) !default;
// $body-secondary-bg:         $gray-200 !default;
// $body-tertiary-color:       rgba($body-color, .5) !default;
// $body-tertiary-bg:          $gray-100 !default;
// $body-emphasis-color:       $black;
// LINKS
$link-color: $annexus;
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-decoration: none;
// ICON LINKS
$icon-link-icon-transition: $transitio;
// PARAGRAPHS
$paragraph-margin-bottom: $spatio;
// [GRIDS]
// COMPONENTS: borders, radius, shadows, focus-ring, & caret
// BORDERS
$border-width: $terminus-latitudo;
$border-widths: (
  1: $terminus-latitudo * 0.25,
  2: $terminus-latitudo * 0.5,
  3: $terminus-latitudo,
  4: $terminus-latitudo * 1.33,
  5: $terminus-latitudo * 2,
);
$border-style: $terminus-stilus;
$border-color: $terminus-colos;
// BORDER RADIUS
$border-radius: $terminus-radii;
$border-radius-sm: $terminus-radii * 0.5;
$border-radius-lg: $terminus-radii * 1.33;
$border-radius-xl: $terminus-radii * 2;
$border-radius-xxl: $terminus-radii * 3;
// $border-radius-pill:          50rem !default;
// SHADOWS
$box-shadow: $arca-umbra;
$box-shadow-sm: $arca-umbra-sm;
$box-shadow-lg: $arca-umbra-lg;
$box-shadow-inset: inset $arca-umbra;
// ACTIVE
$component-active-color: $quintis;
$component-active-bg: $primus;
// [FOCUS RING]
// [CARETS]: width align spacing
// [ASPECT RATIOS]
// TRANSITIONS// TRANSITIONS
$transition-base: $transitio;
// $transition-fade:             opacity .15s linear !default;
// $transition-collapse:         height .35s ease !default;
// $transition-collapse-width:   width .35s ease !default;

// TYPOGRAPHY
$font-family-sans-serif: $sans-serif;
$h1-font-size: $radix-h1;
$h2-font-size: $radix-h2;
$h3-font-size: $radix-h3;
$h4-font-size: $radix-h4;
$h5-font-size: $radix-h5;
$h6-font-size: $radix-h6;

$headings-font-family: $titulus-genus;
$display-font-sizes: (
  1: $radix-h1 * 1.33,
  2: $radix-h2 * 1.33,
  3: $radix-h3 * 1.33,
  4: $radix-h4 * 1.33,
  5: $radix-h5 * 1.33,
  6: $radix-h6 * 1.33,
);
$display-font-family: $ostentus-genus;
// [TABLES]
// [BUTTONS]
// [FORMS];
// [Z-INDEX]
// [NAVS]
// [NAVBARS]
// [DROPDOWNS]
// [PAGINATION]
// [PLACEHOLDERS]
// [CARDS]
// [ACCORDION]
// [TOOLTIPS]
// [POPOVERS]
// [TOASTS]
// [BADGES]
// [MODALS]
// [ALERTS]
// [PROGRESS BAR]
// [LIST GROUP]
// [IMAGE THUMBNAILS]
// [FIGURES]
// [BREADCRUMBS]
// [CAROUSEL]
// [SPINNERS]
// [CLOSE]
// [OFFCANVAS]
// [CODE]



// DARK MODE
// Dark color mode variables
//
// Custom variables for the `[data-bs-theme="dark"]` theme. Use this as a starting point for your own custom color modes by creating a new theme-specific file like `_variables-dark.scss` and adding the variables you need.

//
// Global colors

// theme-text-dark-variables
// $primary-text-emphasis-dark:        tint-color($primary, 40%) !default;
// $secondary-text-emphasis-dark:      tint-color($secondary, 40%) !default;
// $success-text-emphasis-dark:        tint-color($success, 40%) !default;
// $info-text-emphasis-dark:           tint-color($info, 40%) !default;
// $warning-text-emphasis-dark:        tint-color($warning, 40%) !default;
// $danger-text-emphasis-dark:         tint-color($danger, 40%) !default;
// $light-text-emphasis-dark:          $gray-100 !default;
// $dark-text-emphasis-dark:           $gray-300 !default;


// theme-bg-subtle-dark-variables
// $primary-bg-subtle-dark:            shade-color($primary, 80%) !default;
// $secondary-bg-subtle-dark:          shade-color($secondary, 80%) !default;
// $success-bg-subtle-dark:            shade-color($success, 80%) !default;
// $info-bg-subtle-dark:               shade-color($info, 80%) !default;
// $warning-bg-subtle-dark:            shade-color($warning, 80%) !default;
// $danger-bg-subtle-dark:             shade-color($danger, 80%) !default;
// $light-bg-subtle-dark:              $gray-800 !default;
// $dark-bg-subtle-dark:               mix($gray-800, $black) !default;


// theme-border-subtle-dark-variables
// $primary-border-subtle-dark:        shade-color($primary, 40%) !default;
// $secondary-border-subtle-dark:      shade-color($secondary, 40%) !default;
// $success-border-subtle-dark:        shade-color($success, 40%) !default;
// $info-border-subtle-dark:           shade-color($info, 40%) !default;
// $warning-border-subtle-dark:        shade-color($warning, 40%) !default;
// $danger-border-subtle-dark:         shade-color($danger, 40%) !default;
// $light-border-subtle-dark:          $gray-700 !default;
// $dark-border-subtle-dark:           $gray-800 !default;


// $body-color-dark:                   $gray-300 !default;
// $body-bg-dark:                      $gray-900 !default;
// $body-secondary-color-dark:         rgba($body-color-dark, .75) !default;
// $body-secondary-bg-dark:            $gray-800 !default;
// $body-tertiary-color-dark:          rgba($body-color-dark, .5) !default;
// $body-tertiary-bg-dark:             mix($gray-800, $gray-900, 50%) !default;
// $body-emphasis-color-dark:          $white !default;
// $border-color-dark:                 $gray-700 !default;
// $border-color-translucent-dark:     rgba($white, .15) !default;
// $headings-color-dark:               inherit !default;
// $link-color-dark:                   tint-color($primary, 40%) !default;
// $link-hover-color-dark:             shift-color($link-color-dark, -$link-shade-percentage) !default;
// $code-color-dark:                   tint-color($code-color, 40%) !default;
// $mark-color-dark:                   $body-color-dark !default;
// $mark-bg-dark:                      $yellow-800 !default;


//
// Forms

// $form-select-indicator-color-dark:  $body-color-dark !default;
// $form-select-indicator-dark:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color-dark}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>") !default;

// $form-switch-color-dark:            rgba($white, .25) !default;
// $form-switch-bg-image-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-color-dark}'/></svg>") !default;

// form-validation-colors-dark
// $form-valid-color-dark:             $green-300 !default;
// $form-valid-border-color-dark:      $green-300 !default;
// $form-invalid-color-dark:           $red-300 !default;
// $form-invalid-border-color-dark:    $red-300 !default;


//
// Accordion
//

// $accordion-icon-color-dark:         $primary-text-emphasis-dark !default;
// $accordion-icon-active-color-dark:  $primary-text-emphasis-dark !default;

// $accordion-button-icon-dark:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;
// $accordion-button-active-icon-dark:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color-dark}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;

