
.palettes {
  gap: 2vw;
  z-index: 1;
  height: 100vh;

  .color {
    transform-origin: center;
    height: 150px;
    width: 150px;
    text-align: center;
    z-index: 1;
    margin: 2px 2px 20px 2px;
    position: relative;
    border-radius: 50%;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    transition: all 500ms ease-in-out 200ms;

    &:hover {
      transform: scale(1.33);
      border-radius: 2%;
      z-index: 100;
      animation: slide-in-fwd-center 1000ms cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both 200ms;
      transition: all 500ms ease-in-out 200ms;
    }
  }
}

/* PALETTE*/
.primus {
  background-color: $primus;
}
.secundus {
  background-color: $secundus;
}
.tertius {
  background-color: $tertius;
}
.quartus {
  background-color: $quartus;
}
.quintis {
  background-color: $quintis;
}
.primus-lux {
  background-color: $primus-lux;
}
.secundus-lux {
  background-color: $secundus-lux;
}
.tertius-lux {
  background-color: $tertius-lux;
}
.quartus-lux {
  background-color: $quartus-lux;
}
.quintis-lux {
  background-color: $quintis-lux;
}
.primus-vario {
  background-color: $primus-vario;
}
.secundus-vario {
  background-color: $secundus-vario;
}
.tertius-vario {
  background-color: $tertius-vario;
}
.quartus-vario {
  background-color: $quartus-vario;
}
.quintis-vario {
  background-color: $quintis-vario;
}
.primus-neutrum {
  background-color: $primus-neutrum;
}
.secundus-neutrum {
  background-color: $secundus-neutrum;
}
.tertius-neutrum {
  background-color: $tertius-neutrum;
}
.quartus-neutrum {
  background-color: $quartus-neutrum;
}
.quintis-neutrum {
  background-color: $quintis-neutrum;
}
.primus-umbra {
  background-color: $primus-umbra;
}
.secundus-umbra {
  background-color: $secundus-umbra;
}
.tertius-umbra {
  background-color: $tertius-umbra;
}
.quartus-umbra {
  background-color: $quartus-umbra;
}
.quintis-umbra {
  background-color: $quintis-umbra;
}
.indicum {
  background-color: $indicum;
}
.progresio {
  background-color: $progresio;
}
.erratus {
  background-color: $erratus;
}
.praemonitus {
  background-color: $praemonitus;
}
.scaena {
  background-color: $scaena;
}
.scaena-alterno {
  background-color: $scaena-alterno;
}
.scriptum {
  background-color: $scriptum;
}
.scriptum-alterno {
  background-color: $scriptum-alterno;
}
