.rotate-in-center {animation: rotate-in-center 0.6s linear both }
.rotate-in-top {animation: rotate-in-top 0.5s linear both }
.rotate-in-tr {animation: rotate-in-tr 0.5s linear both }
.rotate-in-right {animation: rotate-in-right 0.5s linear both }
.rotate-in-br {animation: rotate-in-br 0.5s linear both }
.rotate-in-bottom {animation: rotate-in-bottom 0.5s linear both }
.rotate-in-bl {animation: rotate-in-bl 0.5s linear both }
.rotate-in-left {animation: rotate-in-left 0.5s linear both }
.rotate-in-tl {animation: rotate-in-tl 0.5s linear both }
.rotate-in-hor {animation: rotate-in-hor 0.5s linear both }
.rotate-in-ver {animation: rotate-in-ver 0.5s linear both }
.rotate-in-diag-1 {animation: rotate-in-diag-1 0.5s linear both }
.rotate-in-diag-2 {animation: rotate-in-diag-2 0.5s linear both }
.rotate-in-2-cw {animation: rotate-in-2-cw 0.5s linear both }
.rotate-in-2-ccw {animation: rotate-in-2-ccw 0.5s linear both }
.rotate-in-2-fwd-cw {animation: rotate-in-2-fwd-cw 0.5s linear both }
.rotate-in-2-fwd-ccw {animation: rotate-in-2-fwd-ccw 0.5s linear both }
.rotate-in-2-bck-cw {animation: rotate-in-2-bck-cw 0.5s linear both }
.rotate-in-2-bck-ccw {animation: rotate-in-2-bck-ccw 0.5s linear both }
.rotate-in-2-tr-cw {animation: rotate-in-2-tr-cw 0.5s linear both }
.rotate-in-2-tr-ccw {animation: rotate-in-2-tr-ccw 0.5s linear both }
.rotate-in-2-br-cw {animation: rotate-in-2-br-cw 0.5s linear both }
.rotate-in-2-br-ccw {animation: rotate-in-2-br-ccw 0.5s linear both }
.rotate-in-2-bl-cw {animation: rotate-in-2-bl-cw 0.5s linear both }
.rotate-in-2-bl-ccw {animation: rotate-in-2-bl-ccw 0.5s linear both }
.rotate-in-2-tl-cw {animation: rotate-in-2-tl-cw 0.5s linear both }
.rotate-in-2-tl-ccw {animation: rotate-in-2-tl-ccw 0.5s linear both }
@keyframes rotate-in-center {0% { transform: rotate(-360deg); opacity: 0 }100% { transform: rotate(0); opacity: 1 }}
@keyframes rotate-in-bl {0% { transform: rotate(-360deg); transform-origin: bottom left; opacity: 0 }100% { transform: rotate(0deg); transform-origin: bottom left; opacity: 1 }}
@keyframes rotate-in-diag-2 {0% { transform: rotate3d(-1, 1, 0, -360deg); opacity: 0 }100% { transform: rotate3d(-1, 1, 0, 0deg); opacity: 1 }}
@keyframes rotate-in-top {0% { transform: rotate(-360deg); transform-origin: top; opacity: 0 }100% { transform: rotate(0deg); transform-origin: top; opacity: 1 }}
@keyframes rotate-in-left {0% { transform: rotate(-360deg); transform-origin: left; opacity: 0 }100% { transform: rotate(0deg); transform-origin: left; opacity: 1 }}
@keyframes rotate-in-tr {0% { transform: rotate(-360deg); transform-origin: top right; opacity: 0 }100% { transform: rotate(0deg); transform-origin: top right; opacity: 1 }}
@keyframes rotate-in-tl {0% { transform: rotate(-360deg); transform-origin: top left; opacity: 0 }100% { transform: rotate(0deg); transform-origin: top left; opacity: 1 }}
@keyframes rotate-in-right {0% { transform: rotate(-360deg); transform-origin: right; opacity: 0 }100% { transform: rotate(0deg); transform-origin: right; opacity: 1 }}
@keyframes rotate-in-hor {0% { transform: rotateX(360deg); opacity: 0 }100% { transform: rotateX(0deg); opacity: 1 }}
@keyframes rotate-in-br {0% { transform: rotate(-360deg); transform-origin: bottom right; opacity: 0 }100% { transform: rotate(0deg); transform-origin: bottom right; opacity: 1 }}
@keyframes rotate-in-ver {0% { transform: rotateY(-360deg); opacity: 0 }100% { transform: rotateY(0deg); opacity: 1 }}
@keyframes rotate-in-bottom {0% { transform: rotate(-360deg); transform-origin: bottom; opacity: 0 }100% { transform: rotate(0deg); transform-origin: bottom; opacity: 1 }}
@keyframes rotate-in-diag-1 {0% { transform: rotate3d(1, 1, 0, -360deg); opacity: 0 }100% { transform: rotate3d(1, 1, 0, 0deg); opacity: 1 }}
@keyframes rotate-in-2-cw {0% { transform: rotate(-45deg); opacity: 0 }100% { transform: rotate(0); opacity: 1 }}
@keyframes rotate-in-2-tr-cw {0% { transform: rotate(-45deg); transform-origin: 100% 0; opacity: 0 }100% { transform: rotate(0); transform-origin: 100% 0; opacity: 1 }}
@keyframes rotate-in-2-tl-cw {0% { transform: rotate(-45deg); transform-origin: 0 0; opacity: 0 }100% { transform: rotate(0); transform-origin: 0 0; opacity: 1 }}
@keyframes rotate-in-2-ccw {0% { transform: rotate(45deg); opacity: 0 }100% { transform: rotate(0); opacity: 1 }}
@keyframes rotate-in-2-tr-ccw {0% { transform: rotate(45deg); transform-origin: 100% 0; opacity: 0 }100% { transform: rotate(0); transform-origin: 100% 0; opacity: 1 }}
@keyframes rotate-in-2-tl-ccw {0% { transform: rotate(45deg); transform-origin: 0 0; opacity: 0 }100% { transform: rotate(0); transform-origin: 0 0; opacity: 1 }}
@keyframes rotate-in-2-fwd-cw {0% { transform: translateZ(-200px) rotate(-45deg); opacity: 0 }100% { transform: translateZ(0) rotate(0); opacity: 1 }}
@keyframes rotate-in-2-br-cw {0% { transform: rotate(-45deg); transform-origin: 100% 100%; opacity: 0 }100% { transform: rotate(0); transform-origin: 100% 100%; opacity: 1 }}
@keyframes rotate-in-2-fwd-ccw {0% { transform: translateZ(-200px) rotate(45deg); opacity: 0 }100% { transform: translateZ(0) rotate(0); opacity: 1 }}
@keyframes rotate-in-2-br-ccw {0% { transform: rotate(45deg); transform-origin: 100% 100%; opacity: 0 }100% { transform: rotate(0); transform-origin: 100% 100%; opacity: 1 }}
@keyframes rotate-in-2-bck-cw {0% { transform: translateZ(200px) rotate(-45deg); opacity: 0 }100% { transform: translateZ(0) rotate(0); opacity: 1 }}
@keyframes rotate-in-2-bl-cw {0% { transform: rotate(-45deg); transform-origin: 0 100%; opacity: 0 }100% { transform: rotate(0); transform-origin: 0 100%; opacity: 1 }}
@keyframes rotate-in-2-bl-ccw {0% { transform: rotate(45deg); transform-origin: 0 100%; opacity: 0 }100% { transform: rotate(0); transform-origin: 0 100%; opacity: 1 }}
@keyframes rotate-in-2-bck-ccw {0% { transform: translateZ(200px) rotate(45deg); opacity: 0 }100% { transform: translateZ(0) rotate(0); opacity: 1 }}