.scale-in-center {animation: scale-in-center 0.5s linear both }
.scale-in-top {animation: scale-in-top 0.5s linear both }
.scale-in-tr {animation: scale-in-tr 0.5s linear both }
.scale-in-right {animation: scale-in-right 0.5s linear both }
.scale-in-right {animation: scale-in-right 0.5s linear both }
.scale-in-bottom {animation: scale-in-bottom 0.5s linear both }
.scale-in-bl {animation: scale-in-bl 0.5s linear both }
.scale-in-left {animation: scale-in-left 0.5s linear both }
.scale-in-tl {animation: scale-in-tl 0.5s linear both }
.scale-in-hor-center {animation: scale-in-hor-center 0.5s linear both }
.scale-in-hor-left {animation: scale-in-hor-left 0.5s linear both }
.scale-in-hor-right {animation: scale-in-hor-right 0.5s linear both }
.scale-in-ver-center {animation: scale-in-ver-center 0.5s linear both }
.scale-in-ver-top {animation: scale-in-ver-top 0.5s linear both }
.scale-in-ver-bottom {animation: scale-in-ver-bottom 0.5s linear both }
@keyframes scale-in-center {0% { transform: scale(0); opacity: 1 }100% { transform: scale(1); opacity: 1 }}
@keyframes scale-in-bl {0% { transform: scale(0); transform-origin: 0 100%; opacity: 1 }100% { transform: scale(1); transform-origin: 0 100%; opacity: 1 }}
@keyframes scale-in-ver-center {0% { transform: scaleY(0); opacity: 1 }100% { transform: scaleY(1); opacity: 1 }}
@keyframes scale-in-top {0% { transform: scale(0); transform-origin: 50% 0; opacity: 1 }100% { transform: scale(1); transform-origin: 50% 0; opacity: 1 }}
@keyframes scale-in-left {0% { transform: scale(0); transform-origin: 0 50%; opacity: 1 }100% { transform: scale(1); transform-origin: 0 50%; opacity: 1 }}
@keyframes scale-in-ver-top {0% { transform: scaleY(0); transform-origin: 100% 0; opacity: 1 }100% { transform: scaleY(1); transform-origin: 100% 0; opacity: 1 }}
@keyframes scale-in-tr {0% { transform: scale(0); transform-origin: 100% 0; opacity: 1 }100% { transform: scale(1); transform-origin: 100% 0; opacity: 1 }}
@keyframes scale-in-tl {0% { transform: scale(0); transform-origin: 0 0; opacity: 1 }100% { transform: scale(1); transform-origin: 0 0; opacity: 1 }}
@keyframes scale-in-ver-bottom {0% { transform: scaleY(0); transform-origin: 0 100%; opacity: 1 }100% { transform: scaleY(1); transform-origin: 0 100%; opacity: 1 }}
@keyframes scale-in-right {0% { transform: scale(0); transform-origin: 100% 50%; opacity: 1 }100% { transform: scale(1); transform-origin: 100% 50%; opacity: 1 }}
@keyframes scale-in-hor-center {0% { transform: scaleX(0); opacity: 1 }100% { transform: scaleX(1); opacity: 1 }}
@keyframes scale-in-br {0% { transform: scale(0); transform-origin: 100% 100%; opacity: 1 }100% { transform: scale(1); transform-origin: 100% 100%; opacity: 1 }}
@keyframes scale-in-hor-left {0% { transform: scaleX(0); transform-origin: 0 0; opacity: 1 }100% { transform: scaleX(1); transform-origin: 0 0; opacity: 1 }}
@keyframes scale-in-bottom {0% { transform: scale(0); transform-origin: 50% 100%; opacity: 1 }100% { transform: scale(1); transform-origin: 50% 100%; opacity: 1 }}
@keyframes scale-in-hor-right {0% { transform: scaleX(0); transform-origin: 100% 100%; opacity: 1 }100% { transform: scaleX(1); transform-origin: 100% 100%; opacity: 1 }}