.scale-out-center {animation: 500ms scale-out-center;}
.scale-out-br {animation: 500ms scale-out-br;}
.scale-out-horizontal {animation: 500ms scale-out-horizontal;}
.scale-out-ver-bottom {animation: 500ms scale-out-ver-bottom;}
.scale-out-right {animation: 500ms scale-out-right;}
.scale-out-ver-top {animation: 500ms scale-out-ver-top;}
.scale-out-tl {animation: 500ms scale-out-tl;}
.scale-out-left {animation: 500ms scale-out-left;}
.scale-out-tr {animation: 500ms scale-out-tr;}
.scale-out-vertical {animation: 500ms scale-out-vertical;}
.scale-out-hor-right {animation: 500ms scale-out-hor-right;}
.scale-out-bl {animation: 500ms scale-out-bl;}
.scale-out-top {animation: 500ms scale-out-top;}
.scale-out-bottom {animation: 500ms scale-out-bottom;}
.scale-out-hor-left {animation: 500ms scale-out-hor-left;}
@keyframes scale-out-center {0% { transform: scale(1); opacity: 1 }100% { transform: scale(0); opacity: 1 }}
@keyframes scale-out-br {0% { transform: scale(1); transform-origin: 100% 100%; opacity: 1 }100% { transform: scale(0); transform-origin: 100% 100%; opacity: 1 }}
@keyframes scale-out-horizontal {0% { transform: scaleX(1); opacity: 1 }100% { transform: scaleX(0); opacity: 1 }}
@keyframes scale-out-ver-bottom {0% { transform: scaleY(1); transform-origin: 0 100%; opacity: 1 }100% { transform: scaleY(0); transform-origin: 0 100%; opacity: 1 }}
@keyframes scale-out-right {0% { transform: scale(1); transform-origin: 100% 50%; opacity: 1 }100% { transform: scale(0); transform-origin: 100% 50%; opacity: 1 }}
@keyframes scale-out-ver-top {0% { transform: scaleY(1); transform-origin: 100% 0; opacity: 1 }100% { transform: scaleY(0); transform-origin: 100% 0; opacity: 1 }}
@keyframes scale-out-tl {0% { transform: scale(1); transform-origin: 0 0; opacity: 1 }100% { transform: scale(0); transform-origin: 0 0; opacity: 1 }}
@keyframes scale-out-left {0% { transform: scale(1); transform-origin: 0 50%; opacity: 1 }100% { transform: scale(0); transform-origin: 0 50%; opacity: 1 }}
@keyframes scale-out-tr {0% { transform: scale(1); transform-origin: 100% 0; opacity: 1 }100% { transform: scale(0); transform-origin: 100% 0; opacity: 1 }}
@keyframes scale-out-vertical {0% { transform: scaleY(1); opacity: 1 }100% { transform: scaleY(0); opacity: 1 }}
@keyframes scale-out-hor-right {0% { transform: scaleX(1); transform-origin: 100% 100%; opacity: 1 }100% { transform: scaleX(0); transform-origin: 100% 100%; opacity: 1 }}
@keyframes scale-out-bl {0% { transform: scale(1); transform-origin: 0 100%; opacity: 1 }100% { transform: scale(0); transform-origin: 0 100%; opacity: 1 }}
@keyframes scale-out-top {0% { transform: scale(1); transform-origin: 50% 0; opacity: 1 }100% { transform: scale(0); transform-origin: 50% 0; opacity: 1 }}
@keyframes scale-out-bottom {0% { transform: scale(1); transform-origin: 50% 100%; opacity: 1 }100% { transform: scale(0); transform-origin: 50% 100%; opacity: 1 }}
@keyframes scale-out-hor-left {0% { transform: scaleX(1); transform-origin: 0 0; opacity: 1 }100% { transform: scaleX(0); transform-origin: 0 0; opacity: 1 }}