.slide-top {animation: 500ms slide-top;}
.slide-bl {animation: 500ms slide-bl;}
.slide-bottom {animation: 500ms slide-bottom;}
.slide-br {animation: 500ms slide-br;}
.slide-right {animation: 500ms slide-right;}
.slide-tl {animation: 500ms slide-tl;}
.slide-tr {animation: 500ms slide-tr;}
.slide-left {animation: 500ms slide-left;}
.slide-bck-center {animation: 500ms slide-bck-center;}
.slide-bck-bottom {animation: 500ms slide-bck-bottom;}
.slide-bck-br {animation: 500ms slide-bck-br;}
.slide-bck-right {animation: 500ms slide-bck-right;}
.slide-bck-tr {animation: 500ms slide-bck-tr;}
.slide-bck-tl {animation: 500ms slide-bck-tl;}
.slide-bck-top {animation: 500ms slide-bck-top;}
.slide-bck-left {animation: 500ms slide-bck-left;}
.slide-bck-bl {animation: 500ms slide-bck-bl;}
.slide-fwd-center {animation: 500ms slide-fwd-center;}
.slide-fwd-br {animation: 500ms slide-fwd-br;}
.slide-fwd-bottom {animation: 500ms slide-fwd-bottom;}
.slide-fwd-right {animation: 500ms slide-fwd-right;}
.slide-fwd-tr {animation: 500ms slide-fwd-tr;}
.slide-fwd-tl {animation: 500ms slide-fwd-tl;}
.slide-fwd-top {animation: 500ms slide-fwd-top;}
.slide-fwd-left {animation: 500ms slide-fwd-left;}
.slide-fwd-bl {animation: 500ms slide-fwd-bl;}
.slide-rotate-hor-top {animation: 500ms slide-rotate-hor-top;}
.slide-rotate-ver-r-fwd {animation: 500ms slide-rotate-ver-r-fwd;}
.slide-rotate-ver-l-fwd {animation: 500ms slide-rotate-ver-l-fwd;}
.slide-rotate-ver-r-bck {animation: 500ms slide-rotate-ver-r-bck;}
.slide-rotate-ver-l-bck {animation: 500ms slide-rotate-ver-l-bck;}
.slide-rotate-ver-right {animation: 500ms slide-rotate-ver-right;}
.slide-rotate-ver-left {animation: 500ms slide-rotate-ver-left;}
.slide-rotate-hor-t-fwd {animation: 500ms slide-rotate-hor-t-fwd;}
.slide-rotate-hor-b-fwd {animation: 500ms slide-rotate-hor-b-fwd;}
.slide-rotate-hor-t-bck {animation: 500ms slide-rotate-hor-t-bck;}
.slide-rotate-hor-b-bck {animation: 500ms slide-rotate-hor-b-bck;}
.slide-rotate-hor-bottom {animation: 500ms slide-rotate-hor-bottom;}
@keyframes slide-top {0% { transform: translateY(0) }100% { transform: translateY(-100px) }}
@keyframes slide-bl {0% { transform: translateY(0) translateX(0) }100% { transform: translateY(100px) translateX(-100px) }}
@keyframes slide-bottom {0% { transform: translateY(0) }100% { transform: translateY(100px) }}
@keyframes slide-br {0% { transform: translateY(0) translateX(0) }100% { transform: translateY(100px) translateX(100px) }}
@keyframes slide-right {0% { transform: translateX(0) }100% { transform: translateX(100px) }}
@keyframes slide-tl {0% { transform: translateY(0) translateX(0) }100% { transform: translateY(-100px) translateX(-100px) }}
@keyframes slide-tr {0% { transform: translateY(0) translateX(0) }100% { transform: translateY(-100px) translateX(100px) }}
@keyframes slide-left {0% { transform: translateX(0) }100% { transform: translateX(-100px) }}
@keyframes slide-bck-center {0% { transform: translateZ(0) }100% { transform: translateZ(-400px) }}
@keyframes slide-bck-bottom {0% { transform: translateZ(0) translateY(0) }100% { transform: translateZ(-400px) translateY(200px) }}
@keyframes slide-bck-br {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(-400px) translateY(200px) translateX(200px) }}
@keyframes slide-bck-right {0% { transform: translateZ(0) translateX(0) }100% { transform: translateZ(-400px) translateX(200px) }}
@keyframes slide-bck-tr {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(-400px) translateY(-200px) translateX(200px) }}
@keyframes slide-bck-tl {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(-400px) translateY(-200px) translateX(-200px) }}
@keyframes slide-bck-top {0% { transform: translateZ(0) translateY(0) }100% { transform: translateZ(-400px) translateY(-200px) }}
@keyframes slide-bck-left {0% { transform: translateZ(0) translateX(0) }100% { transform: translateZ(-400px) translateX(-200px) }}
@keyframes slide-bck-bl {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(-400px) translateY(200px) translateX(-200px) }}
@keyframes slide-fwd-center {0% { transform: translateZ(0) }100% { transform: translateZ(160px) }}
@keyframes slide-fwd-br {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(160px) translateY(100px) translateX(100px) }}
@keyframes slide-fwd-bottom {0% { transform: translateZ(0) translateY(0) }100% { transform: translateZ(160px) translateY(100px) }}
@keyframes slide-fwd-right {0% { transform: translateZ(0) translateX(0) }100% { transform: translateZ(160px) translateX(100px) }}
@keyframes slide-fwd-tr {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(160px) translateY(-100px) translateX(100px) }}
@keyframes slide-fwd-tl {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(160px) translateY(-100px) translateX(-100px) }}
@keyframes slide-fwd-top {0% { transform: translateZ(0) translateY(0) }100% { transform: translateZ(160px) translateY(-100px) }}
@keyframes slide-fwd-left {0% { transform: translateZ(0) translateX(0) }100% { transform: translateZ(160px) translateX(-100px) }}
@keyframes slide-fwd-bl {0% { transform: translateZ(0) translateY(0) translateX(0) }100% { transform: translateZ(160px) translateY(100px) translateX(-100px) }}
@keyframes slide-rotate-hor-top {0% { transform: translateY(0) rotateX(0deg) }100% { transform: translateY(-150px) rotateX(-90deg) }}
@keyframes slide-rotate-ver-r-fwd {0% { transform: translateX(0) translateZ(0) rotateY(0); transform-origin: center left }100% { transform: translateX(150px) translateZ(130px) rotateY(-90deg); transform-origin: center left }}
@keyframes slide-rotate-ver-l-fwd {0% { transform: translateX(0) translateZ(0) rotateY(0); transform-origin: center right }100% { transform: translateX(-150px) translateZ(130px) rotateY(90deg); transform-origin: center right }}
@keyframes slide-rotate-ver-r-bck {0% { transform: translateX(0) translateZ(0) rotateY(0); transform-origin: center right }100% { transform: translateX(150px) translateZ(-230px) rotateY(-90deg); transform-origin: center right }}
@keyframes slide-rotate-ver-l-bck {0% { transform: translateX(0) translateZ(0) rotateY(0); transform-origin: center left }100% { transform: translateX(-150px) translateZ(-230px) rotateY(90deg); transform-origin: center left }}
@keyframes slide-rotate-ver-right {0% { transform: translateX(0) rotateY(0) }100% { transform: translateX(150px) rotateY(-90deg) }}
@keyframes slide-rotate-ver-left {0% { transform: translateX(0) rotateY(0) }100% { transform: translateX(-150px) rotateY(90deg) }}
@keyframes slide-rotate-hor-t-fwd {0% { transform: translateY(0) translateZ(0) rotateX(0deg); transform-origin: bottom center }100% { transform: translateY(-150px) translateZ(130px) rotateX(-90deg); transform-origin: bottom center }}
@keyframes slide-rotate-hor-b-fwd {0% { transform: translateY(0) translateZ(0) rotateX(0deg); transform-origin: top center }100% { transform: translateY(150px) translateZ(130px) rotateX(90deg); transform-origin: top center }}
@keyframes slide-rotate-hor-t-bck {0% { transform: translateY(0) translateZ(0) rotateX(0deg); transform-origin: top center }100% { transform: translateY(-150px) translateZ(-230px) rotateX(-90deg); transform-origin: top center }}
@keyframes slide-rotate-hor-b-bck {0% { transform: translateY(0) translateZ(0) rotateX(0deg); transform-origin: bottom center }100% { transform: translateY(150px) translateZ(-230px) rotateX(90deg); transform-origin: bottom center }}
@keyframes slide-rotate-hor-bottom {0% { transform: translateY(0) rotateX(0deg) }100% { transform: translateY(150px) rotateX(90deg) }}