.swirl-in-fwd {animation: 500ms swirl-in-fwd;}
.swirl-in-bck {animation: 500ms swirl-in-bck;}
.swirl-in-top-fwd {animation: 500ms swirl-in-top-fwd;}
.swirl-in-top-bck {animation: 500ms swirl-in-top-bck;}
.swirl-in-tr-fwd {animation: 500ms swirl-in-tr-fwd;}
.swirl-in-bottom-bck {animation: 500ms swirl-in-bottom-bck;}
.swirl-in-tr-bck {animation: 500ms swirl-in-tr-bck;}
.swirl-in-tl-bck {animation: 500ms swirl-in-tl-bck;}
.swirl-in-bottom-fwd {animation: 500ms swirl-in-bottom-fwd;}
.swirl-in-tl-fwd {animation: 500ms swirl-in-tl-fwd;}
.swirl-in-br-bck {animation: 500ms swirl-in-br-bck;}
.swirl-in-left-bck {animation: 500ms swirl-in-left-bck;}
.swirl-in-left-fwd {animation: 500ms swirl-in-left-fwd;}
.swirl-in-br-fwd {animation: 500ms swirl-in-br-fwd;}
.swirl-in-right-bck {animation: 500ms swirl-in-right-bck;}
.swirl-in-bl-bck {animation: 500ms swirl-in-bl-bck;}
.swirl-in-right-fwd {animation: 500ms swirl-in-right-fwd;}
.swirl-in-bl-fwd {animation: 500ms swirl-in-bl-fwd;}
@keyframes swirl-in-fwd {0% { transform: rotate(-540deg) scale(0); opacity: 0 }100% { transform: rotate(0) scale(1); opacity: 1 }}
@keyframes swirl-in-bck {0% { transform: rotate(540deg) scale(5); opacity: 0 }100% { transform: rotate(0) scale(1); opacity: 1 }}
@keyframes swirl-in-top-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 50% 0; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 50% 0; opacity: 1 }}
@keyframes swirl-in-top-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 50% 0; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 50% 0; opacity: 1 }}
@keyframes swirl-in-tr-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 100% 0; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 100% 0; opacity: 1 }}
@keyframes swirl-in-bottom-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 50% 100%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 50% 100%; opacity: 1 }}
@keyframes swirl-in-tr-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 100% 0; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 100% 0; opacity: 1 }}
@keyframes swirl-in-tl-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 0 0; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 0 0; opacity: 1 }}
@keyframes swirl-in-bottom-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 50% 100%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 50% 100%; opacity: 1 }}
@keyframes swirl-in-tl-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 0 0; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 0 0; opacity: 1 }}
@keyframes swirl-in-br-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 100% 100%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 100% 100%; opacity: 1 }}
@keyframes swirl-in-left-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 0 50%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 0 50%; opacity: 1 }}
@keyframes swirl-in-left-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 0 50%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 0 50%; opacity: 1 }}
@keyframes swirl-in-br-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 100% 100%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 100% 100%; opacity: 1 }}
@keyframes swirl-in-right-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 100% 50%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 100% 50%; opacity: 1 }}
@keyframes swirl-in-bl-bck {0% { transform: rotate(540deg) scale(5); transform-origin: 0 100%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 0 100%; opacity: 1 }}
@keyframes swirl-in-right-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 100% 50%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 100% 50%; opacity: 1 }}
@keyframes swirl-in-bl-fwd {0% { transform: rotate(-540deg) scale(0); transform-origin: 0 100%; opacity: 0 }100% { transform: rotate(0) scale(1); transform-origin: 0 100%; opacity: 1 }}