@import url("https://use.typekit.net/wqa0llu.css");
/* TYPOGRAPHY */
@import url("typography.css");
/* COLORS */
@import url("colors.css");
/* COLORS */
@import url("sg.css");
:root {
  --easeInOutElastic: scaleEaseInOutElastic, positionEaseInOutElastic, opacityEaseInOutElastic;
}
body {
    background-color: black;
    padding: 0;
    margin: 0;
}
main{
  width:100%;
  height: 100%;
  background-color: aqua;
}
svg {
    opacity: 50%;
    object-fit: cover;
    height: 100vh;
    filter: contrast(490%) brightness(100%);
  background: linear-gradient(200deg, rgba(166,65,63,1), rgba(220,153,86,0.7));
  animation: slide-in-blurred-bottom 3s 1 cubic-bezier(0.230, 1.000, 0.320, 1.0000);
  /* filter: contrast(170%) brightness(1000%); */
}

.filter1 {
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position:absolute;
    background-color: rgba(166, 65, 63, .2);
    animation: color-change-5x 20s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1;
} .noise {
  /* ... */
  background:
    linear-gradient(to right, blue, transparent),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(170%) brightness(1000%);
}
/**
 * ----------------------------------------
 * animation rotate-in-center
 * ----------------------------------------
 */
 @keyframes rotate-in-center {
    0% {
      transform: rotate(-360deg);
      opacity: 0;
    }
    100% {
      transform: rotate(0);
      opacity: 1;
    }
  }
  @keyframes color-change-5x {
    0% {
      background: var(--color1d-hsla);
    }
    20% {
      background: var(--color2d-hsla);
    }
    40% {
      background: var(--color3d-hsla);
    }
    60% {
      background: var(--color4d-hsla);
    }
    80% {
      background: var(--color5c-hsla);
    }
    100% {
      background: var(--color1c-hsla);
    }
  }

  @keyframes slide-in-blurred-bottom {
    0% {
      transform: translateY(-50px) scaleY(2) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(40px);
      opacity: .5;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(20px);
      opacity: 1;
    }
  }

  .easeInOutElastic {
    animation-name: var(--easeInOutElastic)
}

@keyframes scaleEaseInOutElastic {
  0% {
      transform: scale(1)
  }

  4% {
      transform: scale(1)
  }

  8% {
      transform: scale(1)
  }

  18% {
      transform: scale(1.01)
  }

  20% {
      transform: scale(1)
  }

  28% {
      transform: scale(.98)
  }

  30% {
      transform: scale(.98)
  }

  38% {
      transform: scale(1.09)
  }

  40% {
      transform: scale(1.12)
  }

  60% {
      transform: scale(-.12)
  }

  62% {
      transform: scale(-.09)
  }

  70% {
      transform: scale(.02)
  }

  72% {
      transform: scale(.02)
  }

  80% {
      transform: scale(0)
  }

  82% {
      transform: scale(-.01)
  }

  90% {
      transform: scale(0)
  }

  92% {
      transform: scale(0)
  }

  100% {
      transform: scale(0)
  }
}

@keyframes positionEaseInOutElastic {
  0% {
      transform: translateX(0%)
  }

  4% {
      transform: translateX(-.08%)
  }

  8% {
      transform: translateX(-.1%)
  }

  18% {
      transform: translateX(.52%)
  }

  20% {
      transform: translateX(.39%)
  }

  28% {
      transform: translateX(-2.35%)
  }

  30% {
      transform: translateX(-2.39%)
  }

  38% {
      transform: translateX(9.27%)
  }

  40% {
      transform: translateX(11.75%)
  }

  60% {
      transform: translateX(-111.75%)
  }

  62% {
      transform: translateX(-109.27%)
  }

  70% {
      transform: translateX(-97.61%)
  }

  72% {
      transform: translateX(-97.65%)
  }

  80% {
      transform: translateX(-100.39%)
  }

  82% {
      transform: translateX(-100.52%)
  }

  90% {
      transform: translateX(-99.97%)
  }

  92% {
      transform: translateX(-99.9%)
  }

  100% {
      transform: translateX(-100%)
  }
}

@keyframes opacityEaseInOutElastic {
  0% {
      opacity: 1
  }

  4% {
      opacity: 1
  }

  8% {
      opacity: 1
  }

  18% {
      opacity: 1.01
  }

  20% {
      opacity: 1
  }

  28% {
      opacity: .98
  }

  30% {
      opacity: .98
  }

  38% {
      opacity: 1.09
  }

  40% {
      opacity: 1.12
  }

  60% {
      opacity: -.12
  }

  62% {
      opacity: -.09
  }

  70% {
      opacity: .02
  }

  72% {
      opacity: .02
  }

  80% {
      opacity: 0
  }

  82% {
      opacity: -.01
  }

  90% {
      opacity: 0
  }

  92% {
      opacity: 0
  }

  100% {
      opacity: 0
  }
}