<!-- wp:group {"metadata":{"name":"container px-4 py-5"},"className":"container px-4 py-5","layout":{"type":"constrained"}} -->
<div class="wp-block-group container px-4 py-5">
    <!-- wp:html -->
    <h2 class="pb-2 border-bottom">Features with title</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add
                onto<br>it<br>with another sentence and probably just keep going until we run out of words.</p>
            <p><a class="btn btn-primary btn-lg" href="#">Primary button</a></p>
        </div>
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"container px-4 py-5"},"className":"container px-4 py-5","layout":{"type":"constrained"}} -->
<div id="featured-3" class="wp-block-group container px-4 py-5">
    <!-- wp:html -->
    <h2 class="pb-2 border-bottom">Columns with icons</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <p>&nbsp;</p>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and<br>probably just keep going until we run out of words.</p>
            <p><a class="icon-link" href="#"><br>Call to action</a></p>
            <p>&nbsp;</p>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <p>&nbsp;</p>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and<br>probably just keep going until we run out of words.</p>
            <p><a class="icon-link" href="#"><br>Call to action</a></p>
            <p>&nbsp;</p>
        </div>
        <div class="feature col">
            <div
                class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <p>&nbsp;</p>
            </div>
            <h3 class="fs-2 text-body-emphasis">Featured title</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence
                and<br>probably just keep going until we run out of words.</p>
            <p><a class="icon-link" href="#"><br>Call to action</a></p>
            <p>&nbsp;</p>
        </div>
    </div>
    <!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"container px-4 py-5"},"className":"container px-4 py-5","layout":{"type":"constrained"}} -->
<div id="hanging-icons" class="wp-block-group container px-4 py-5">
    <!-- wp:html -->
    <div id="hanging-icons" class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Hanging icons</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <p>&nbsp;</p>
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence<br>and<br>probably just keep going until we run out of words.</p>
                    <p><a class="btn btn-primary" href="#"><br>Primary button<br></a></p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <p>&nbsp;</p>
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence<br>and<br>probably just keep going until we run out of words.</p>
                    <p><a class="btn btn-primary" href="#"><br>Primary button<br></a></p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <div
                    class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                    <p>&nbsp;</p>
                </div>
                <div>
                    <h3 class="fs-2 text-body-emphasis">Featured title</h3>
                    <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another
                        sentence<br>and<br>probably just keep going until we run out of words.</p>
                    <p><a class="btn btn-primary" href="#"><br>Primary button<br></a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"container px-4 py-5"},"className":"container px-4 py-5","layout":{"type":"constrained"}} -->
<div id="custom-cards" class="wp-block-group container px-4 py-5">
    <!-- wp:html -->

    <h2 class="pb-2 border-bottom">Custom cards</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-1.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"><img class="rounded-circle border border-white"
                                src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"></li>
                        <li class="d-flex align-items-center me-3">
                            <p><small>Earth</small></p>
                        </li>
                        <li class="d-flex align-items-center">
                            <p><small>3d</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-2.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines
                    </h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"><img class="rounded-circle border border-white"
                                src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"></li>
                        <li class="d-flex align-items-center me-3">
                            <p><small>Pakistan</small></p>
                        </li>
                        <li class="d-flex align-items-center">
                            <p><small>4d</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                style="background-image: url('unsplash-photo-3.jpg');">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto"><img class="rounded-circle border border-white"
                                src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32"></li>
                        <li class="d-flex align-items-center me-3">
                            <p><small>California</small></p>
                        </li>
                        <li class="d-flex align-items-center">
                            <p><small>5d</small></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"container px-4 py-5"},"className":"container px-4 py-5","layout":{"type":"constrained"}} -->
<div id="icon-grid" class="wp-block-group container px-4 py-5">
    <!-- wp:html -->

    <h2 class="pb-2 border-bottom">Icon grid</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Featured title</h3>
                <p>Paragraph of text beneath the heading to explain the heading.</p>
            </div>
        </div>
    </div>
    <!-- /wp:html -->
</div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"container px-4 py-5"},"className":"container px-4 py-5","layout":{"type":"constrained"}} -->
<div class="wp-block-group container px-4 py-5">
    <!-- wp:html -->
    <h2 class="pb-2 border-bottom">Features with title</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h2 class="fw-bold text-body-emphasis">Left-aligned title explaining these awesome features</h2>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading. We'll add
                onto<br>it<br>with another sentence and probably just keep going until we run out of words.</p>
            <p><a class="btn btn-primary btn-lg" href="#">Primary button</a></p>
        </div>
        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
                <div class="col d-flex flex-column gap-2">
                    <div
                        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                        <p>&nbsp;</p>
                    </div>
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Featured title</h4>
                    <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /wp:html -->
</div>
<!-- /wp:group -->