/* Color Theme Swatches in Hex */
$red-devil: #910F13;
$haiti: #19113B;
$golden-grass: #DBAC2A;
$bourbon: #BF7513;
$deep-fir: #032603;
$saltpan: #F5FCF5;
$diesel: #170001;
$partchment: #EBE1C5;
$burnt-maroon: #42090B;

/* Color Theme Swatches in RGBA */
$red-devil-rgba: rgba(145,15,19, 1);
$haiti-rgba: rgba(25,17,59, 1);
$golden-grass-rgba: rgba(219,172,42, 1);
$bourbon-rgba: rgba(191,117,19, 1);
$deep-fir-rgba: rgba(3,38,3, 1);
$saltpan-rgba: rgba(245,252,245, 1);
$diesel-rgba: rgba(23,0,1, 1);
$partchment-rgba: rgba(235,225,197, 1);
$burnt-maroon-rgba: rgba(66,9,11, 1);

/* Color Theme Swatches in HSLA */
$red-devil-hsla: hsla(358, 81, 31, 1);
$haiti-hsla: hsla(251, 55, 14, 1);
$golden-grass-hsla: hsla(44, 71, 51, 1);
$bourbon-hsla: hsla(34, 81, 41, 1);
$deep-fir-hsla: hsla(120, 85, 8, 1);
$saltpan-hsla: hsla(120, 53, 97, 1);
$diesel-hsla: hsla(357, 100, 4, 1);
$partchment-hsla: hsla(44, 48, 84, 1);
$burnt-maroon-hsla: hsla(357, 76, 14, 1);

/* Color Theme Swatches in Hex */
$hex1: $red-devil;
$hex2: $haiti;
$hex3: $golden-grass;
$hex4: $bourbon;
$hex5: $deep-fir;

/* Color Theme Swatches in RGBA */
$rgba1: $red-devil-rgba;
$rgba2: $haiti-rgba;
$rgba3: $golden-grass-rgba;
$rgba4: $bourbon-rgba;
$rgba5: $deep-fir-rgba;

/* Color Theme Swatches in HSLA */
$hsla1: $red-devil-hsla;
$hsla2: $haiti-hsla;
$hsla3: $golden-grass-hsla;
$hsla4: $bourbon-hsla;
$hsla5: $deep-fir-hsla;