/* Color Theme Swatches in Hex */
$black-russian: #15001F;
$gulf-blue: #030F4A;
$violent-violet: #290957;
$red-devil: #870014;
$chenin: #DED47A;
$magnolia: #FCFAFF;
$half-and-half: #FFFEE3;
$citrine: #F7F7CD;

/* Color Theme Swatches in RGBA */
$black-russian-rgba: rgba(21,0,31, 1);
$gulf-blue-rgba: rgba(3,15,74, 1);
$violent-violet-rgba: rgba(41,9,87, 1);
$red-devil-rgba: rgba(135,0,20, 1);
$chenin-rgba: rgba(222,212,122, 1);
$magnolia-rgba: rgba(252,250,255, 1);
$half-and-half-rgba: rgba(255,254,227, 1);
$citrine-rgba: rgba(247,247,205, 1);

/* Color Theme Swatches in HSLA */
$black-russian-hsla: hsla(280, 100, 6, 1);
$gulf-blue-hsla: hsla(229, 92, 15, 1);
$violent-violet-hsla: hsla(264, 81, 18, 1);
$red-devil-hsla: hsla(351, 100, 26, 1);
$chenin-hsla: hsla(54, 60, 67, 1);
$magnolia-hsla: hsla(264, 100, 99, 1);
$half-and-half-hsla: hsla(57, 100, 94, 1);
$citrine-hsla: hsla(60, 72, 88, 1);


/* Color Theme Swatches in Hex */
$hex1: $violent-violet;
$hex2: $red-devil;
$hex3: $chenin;
$hex4: $gulf-blue;
$hex5: $black-russian;

/* Color Theme Swatches in RGBA */
$rgba1: $violent-violet-rgba;
$rgba2: $chenin-rgba;
$rgba3: $gulf-blue-rgba;
$rgba4: $red-devil-rgba;
$rgba5: $black-russian-rgba;

/* Color Theme Swatches in HSLA */
$hsla1: $violent-violet-hsla;
$hsla2: $chenin-hsla;
$hsla3: $gulf-blue-hsla;
$hsla4: $red-devil-hsla;
$hsla5: $black-russian-hsla;