/* Color Theme Swatches in Hex */
$strawberry-velvet-1-hex: #990033;
$strawberry-velvet-2-hex: #660033;
$strawberry-velvet-3-hex: #F0F2F5;
$strawberry-velvet-4-hex: #003333;
$strawberry-velvet-5-hex: #006664;

/* Color Theme Swatches in RGBA */
$strawberry-velvet-1-rgba: rgba(153,0,51, 1);
$strawberry-velvet-2-rgba: rgba(102,0,51, 1);
$strawberry-velvet-3-rgba: rgba(240,242,245, 1);
$strawberry-velvet-4-rgba: rgba(0,51,51, 1);
$strawberry-velvet-5-rgba: rgba(0,102,100, 1);

/* Color Theme Swatches in HSLA */
$strawberry-velvet-1-hsla: hsla(340, 100, 30, 1);
$strawberry-velvet-2-hsla: hsla(330, 100, 20, 1);
$strawberry-velvet-3-hsla: hsla(216, 20, 95, 1);
$strawberry-velvet-4-hsla: hsla(180, 100, 10, 1);
$strawberry-velvet-5-hsla: hsla(178, 100, 20, 1);

/* PALETTE NAMES */
$paprika: #990033;
$hex2: #660033;
$hex3: #F0F2F5;
$hex4: #003333;
$hex5: #006664;

/* Color Theme Swatches in Hex */
$hex1: #990033;
$hex2: #660033;
$hex3: #F0F2F5;
$hex4: #003333;
$hex5: #006664;

/* Color Theme Swatches in RGBA */
$rgba1: rgba(153,0,51, 1);
$rgba2: rgba(102,0,51, 1);
$rgba3: rgba(240,242,245, 1);
$rgba4: rgba(0,51,51, 1);
$rgba5: rgba(0,102,100, 1);

/* Color Theme Swatches in HSLA */
$hsla1: hsla(340, 100, 30, 1);
$hsla2: hsla(330, 100, 20, 1);
$hsla3: hsla(216, 20, 95, 1);
$hsla4: hsla(180, 100, 10, 1);
$hsla5: hsla(178, 100, 20, 1);

  $background: #0e0033;
  $background-alt: #fff6c9;
  $text: #0e0033;
  $text-alt: #e6f2e9;

  // $bs-primary: #002e0b;
  $color1: #002e0b;
  $color1a: #edfff1;
  $color1b: #b6d1bc;
  $color1c: #6bdb86;
  $color1d: #378c4b;

  // $bs-secondary: #be2500;
  $color2: #be2500;
  $color2a: #ff704d;
  $color2b: #ffe0d9;
  $color2c: #cf8776;
  $color2d: #4a0f00;

  $color3: #f2b807;
  $color3a: #ffedb8;
  $color3b: #ffd966;
  $color3c: #a67e05;
  $color3d: #544003;

  $color4: #001166;
  $color4a: #ccd5ff;
  $color4b: #7a88cc;
  $color4c: #3d4d99;
  $color4d: #000933;
  $color5: #e6f2e9;

  // $bs-success: #378c4b;
  // $bs-info: #ccd5ff;
  // $bs-warning: #f2b807;
  // $bs-danger: #be2500;
  // $bs-light: #e6f2e9;
  // $bs-dark: #4a0f00;
