/* Color Theme Swatches in Hex */
$paprika: #990033;
$black-rose: #660033;
$athens-gray: #F0F2F5;
$tiber: #003333;
$blue-stone: #006664;

/* Color Theme Swatches in RGBA */
$paprika-rgba: rgba(153,0,51, 1);
$black-rose-rgba: rgba(102,0,51, 1);
$athens-gray-rgba: rgba(240,242,245, 1);
$tiber-rgba: rgba(0,51,51, 1);
$blue-stone-rgba: rgba(0,102,100, 1);

/* Color Theme Swatches in HSLA */
$paprika-hsla: hsla(340, 100, 30, 1);
$black-rose-hsla: hsla(330, 100, 20, 1);
$athens-gray-hsla: hsla(216, 20, 95, 1);
$tiber-hsla: hsla(180, 100, 10, 1);
$blue-stone-hsla: hsla(178, 100, 20, 1);

/* Color Theme Swatches in Hex */
$hex1: $paprika;
$hex2: $black-rose;
$hex3: $athens-gray;
$hex4: $tiber;
$hex5: $blue-stone;

/* Color Theme Swatches in RGBA */
$rgba1: $paprika-rgba;
$rgba2: $black-rose-rgba;
$rgba3: $athens-gray-rgba;
$rgba4: $tiber-rgba;
$rgba5: $blue-stone-rgba;

/* Color Theme Swatches in HSLA */
$hsla1: $paprika-hsla;
$hsla2: $black-rose-hsla;
$hsla3: $athens-gray-hsla;
$hsla4: $tiber-hsla;
$hsla5: $blue-stone-hsla;