:root {
  --btn-width: 400px;
  --btn-font: "mendl-sans-variable", sans-serif;
}

/* ============================= */

/* HEADER  */
#hamburger {
}

header #logo {
  height: 70px;
}

header #light-mask path {
  fill: var(--text-light);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header ul li a svg {
  fill: var(--text-light);
  height: 0em;
  padding: 5px;
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header ul li:hover a svg {
  fill: var(--text-light);
  height: 2em;
  padding: 5px;
}

/* === BUTTONS=== */
.btn {
  box-sizing: border-box;
  margin: 0.25rem;
  padding: 10px auto;
  width: calc(var(--btn-width) * 0.5);
  text-transform: uppercase;
  font-family: var(--btn-font);
  font-size: 1.33rem;
  font-variation-settings: "wght" 300, "STYL" 0;
  border-radius: 0;
  transform: skewx(0deg);
  border: 2px solid black;
  transition: all 600ms ease-in-out;
}

.btn:hover {
  background-color: var(--color5);
  color: var(--bs-dark);
  font-variation-settings: "wght" 600, "STYL" 1;
  transform: skewx(-10deg);
  transform-origin: bottom left;
  transition: all 600ms ease-in-out;
}
/* main */
.btn-primary,
.btn-secondary,
.btn-outline-primary,
.btn-outline-secondary {
  width: var(--btn-width);
}

/* utility */
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-light,
.btn-dark,
.btn-link {
  width: calc(var(--btn-width) * 0.5);
}

.btn-primary {
  background-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--color1b);
}

.btn-secondary {
  background-color: var(--bs-secondary);
}

.btn-secondary:hover {
  background-color: var(--color2c);
}

.btn-success {
  background-color: var(--bs-success);
}

.btn-danger {
  background-color: var(--bs-danger);
}

.btn-warning {
  background-color: var(--bs-warning);
}

.btn-info {
  background-color: var(--bs-info);
}

.btn-light {
  background-color: var(--bs-light);
}

.btn-dark {
  background-color: var(--bs-dark);
}

/*outline buttons*/

.btn-outline-primary {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-primary:hover {
  border-color: var(--bs-primary);
  background-color: var(--bs-primary);
  color: var(--text-light);
}

.btn-outline-secondary {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-secondary:hover {
  border-color: var(--bs-secondary);
  background-color: var(--color2c);
  color: var(--bs-dark);
}

.btn-outline-success {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-danger {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-warning {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-info {
  border-color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-light {
  border-color: var(--color2b);
  color: var(--bs-dark);
  color: var(--bs-dark);
}

.btn-outline-dark {
  border-color: var(--bs-dark);
}

/* aside */

aside {
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

#ci1 {
  background-image: url("https://placehold.co/600x400/655673/white");
  background-repeat: no-repeat;
  background-size: cover;
}

#ci1 {
  background-image: url("https://placehold.co/600x400/C93849/white");
  background-repeat: no-repeat;
  background-size: cover;
}

#ci1 {
  background-image: url("https://placehold.co/600x400/FFC4CB/white");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  height: 30vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
  justify-items: center;
  background-image: url("https://placehold.co/900300/655673/white");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  margin: auto;
}

#home-cover {
  height: 100vh;
  display: flex;
}

#mvva ul {
  list-style: none;
  display: flex;
  padding: 0;
}

#mvva ul li {
  margin-left: 0;
  width: 20%;
}

#mvva ul li ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#mvva ul li ul li {
  width: 100%;
}

#myCarousel .carousel-item {
  height: 80vw;
}
