// HEADINGS
h1 {
  font-variation-settings: $varMaxSuper;
}
h2 {
  font-variation-settings: $varExtBlack;
}
h3 {
  font-variation-settings: $varWideBold;
}
h4 {
  font-variation-settings: $varRegNorm;
}
h5 {
  font-variation-settings: $varRegLight;
}
h6 {
  font-variation-settings: $varCondThin;
}