@import url("https://use.typekit.net/toy1dtd.css");

html,
body {
    font-size: calc(16px + 0.390625vw);
    overflow-x: hidden;
    width: 100%;
    margin: 0;
    padding: 0;  
    background-color: var(--color1a)
}

:root {
    --headings: "allotrope-variable", sans-serif;
    --heading-var: 'wdth' 55, 'wght' 100;
    --heading-var-hover: 'wdth' 125, 'wght' 900;
    --body1: "allotrope-variable", sans-serif;
    --body1-var: 'wdth' 55, 'wght' 100;
    --body2: "allotrope-variable", sans-serif;
    --body2-var: 'wdth' 55, 'wght' 100;
    --h1-size: 5.26rem;
    --h2-size: 2.15rem;
    --h3-size: 1.618rem;
    --h4-size: 1.33rem;
    --h5-size: 1.25rem;
    --h6-size: 1rem;
}
/* ============================= */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    width: 100%;
    height: 100%;
    font-family: var(--headings);
    font-variation-settings: var(--heading-var);
    letter-spacing: 0;
    color: var(--text-light);
    transition: 400ms ease-in 100ms;
}
/* h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    font-variation-settings: var(--heading-var-hover);
    letter-spacing: .1em;
    transition: 400ms ease-in 100ms;
} */
/* h1 - h3 */

h1 {
    font-size: var(--h1-size);
    font-variant: small-caps;
}

h2 {
    font-size: var(--h2-size);
}



h3 {
    font-size: var(--h3-size);
}

/* h4 - h6 */

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

/*display headings*/

.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: var(--hdisplay-weight);
}

p,
.body1,
.body1 p {
    font-family: var(--body1);
    font-variation-settings: var(--body1);
    font-size: 1rem;
}

.body2,
.body2 p {
    font-size: 1.618rem;
    font-family: var(--body2);
    font-variation-settings: var(--body2);
    color: var(--text-light);
}

.caption,
.caption p {
    font-size: 1.25rem;
    font-style: italic;
    font-variant: small-caps;
    font-weight: 400;
    font-family: var(--body2);
    color: var(--text-light);
}

.accent,
.accent p {
    font-weight: 500;
    font-family: var(--body1);
    color: var(--text-light);
}