@use "sass:math";

// ROOT
@function get-vw($target) { 
  $vw-context: (1000*.01) * 1px;
  @return math.div($target, $vw-context) * 1vw;
}
$radix: get-vw(8px);
$spatio: calc($radix + 1.5625vw);
$radix-padding: $spatio;
$radix-margin: $spatio auto;

// COLOS THEMA
$primus: #5a2322;
$secundus: #1d2a3a;
$tertius: #476147;
$quartus: #202310;
$quintis: #e3a019;
// utilities
$scaena: #e3ece5;
$scriptum: #201c1c;
$scaena-alterno: #202310;
$scriptum-alterno: #ffffff;
$indicium: #1d2a3a;
$praemonitus: #e3a019;
$progresio: #7ada6b;
$erratus: #a74240;
$nox: #202310;
$lux: #efeab0;
// colos
$roseus: #cc8776;
$rubrum: #be2500;
$luteus: #a67e05;
$flavum: #f2b807;
$viridis: #378c4b;
$teal: #b6d1bc;
$cyaneum: #3d4d99;
$coeruleum: #001156;
$indicum: #0e0033;
$purpura: #0e0033;
$fulvus: #544003;
$carbo: #000000;
$albus: #ffe0d9;
// LINKS
$annexus: $primus;
// BORDERS
$terminus-latitudo: 1px;
$terminus-stilus: solid;
$terminus-colos: $nox;
$terminus-radii: 5px;
// SHADOWS
$umbra: rgb(0, 0, 0);
$arca-umbra-sm: 1px 3px 5px $umbra;
$arca-umbra: 1px 3px 5px $umbra;
$arca-umbra-lg: 1px 3px 5px $umbra;

//  CONFRACTUS PUNTUS (BREAKPOINTS)
$breakpoints: (
  "mob": 0,
  "mob-xl": 480px,
  "tab": 767px,
  "lap": 1024px,
  "desk": 1366px,
  "wide": 1920px,
);

// TRANSITIONS
$transitio: all 500ms ease-in-out 100ms;

//  FONT FAMILIES
$titulus-genus: "peridot-pe-variable";
$titulus-genus-var: 'wght' 100, 'wdth' 50, 'ital' 0;;

$scriptum-genus: "peridot-pe-variable";
$scriptum-genus-var: 'wght' 100, 'wdth' 50, 'ital' 0;;

$ostentus-genus: "peridot-pe-variable";
$ostentus-genus-var: 'wght' 100, 'wdth' 50, 'ital' 0;;

$annotatio-genus: "peridot-pe-variable";
$annotatio-genus-var: 'wght' 100, 'wdth' 50, 'ital' 0;;

$accentus-genus: "peridot-pe-variable";
$accentus-genus-var: 'wght' 100, 'wdth' 50, 'ital' 0;;

$sans-serif: $scriptum-genus;

// HEADINGS
$radix-h1: 3.16rem;
$radix-h2: 2.37rem;
$radix-h3: 1.618rem;
$radix-h4: 1.33rem;
$radix-h5: 1.25rem;
$radix-h6: 1.125rem;

//BUTTONS
$radix-btn-y: 40px;
$radix-btn-x: 20px;
$radix-btn-size: 1.33rem;
$radix-btn-size: 1.33rem;
$radix-btn-y: 0.25rem;
$radix-btn-x: 0.75rem;
$radix-btn-umbra: $arca-umbra;
$radix-btn-umbra-volo: $arca-umbra-lg;
$radix-btn-trans: $transitio;

//NAVITEMS
$radix-navitem-size: 1.25rem;
$radix-navitem-weight: 400;
$radix-navitem-colos: $scriptum;
$radix-navitem-colos-volo: $secundus;
$radix-navitem-trans: $transitio;
$radix-navitem-y: 0.5rem;
$radix-navitem-x: 1rem;
